.Sidebar {
    width: 237px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    padding: 20px 0;

    .ProfileSection {
        
        .ProfileImage {
            width: 86.1px;
            height: 85px;
            border-radius: 100%;
            margin: 0 auto;
            background-size: cover;
            background-position: center;
        }

        h5 {
            text-align: center;
        }
    }

    .SidebarItem {
        height: 45px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .SidebarItemActive {

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 53px;
            z-index: -1;
            background-color: #48A09B;
        }
    }

    .SidebarIcon {
        padding: 0 20px 0 25px;
    }

    .SidebarIconActive {
        color: #fff;
    }
}

