body {
  margin: 0;
  padding: 0;
  background-color: #E3EDEC;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Mulish';
  src: url('../src/assets/fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('../src/assets/fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish-SemiBold';
  src: url('../src/assets/fonts/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish-Light';
  src: url('../src/assets/fonts/Mulish-Light.ttf') format('truetype');
}
